.Main-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 1200px;
    height: 50px;
}
 
.Main-li {
    margin: 0 15px;
    list-style-type: none;
}
 
.Main-li-link {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 35px 0;
    text-align: center;
}

.NewUser-form {
    width: 250px;
    height: 500px;
    display: flex;
}